In [6]:
#11.1

my_func = '''

def hours():
    print("Open 9-5 daily")
'''

with open('zoo.py', 'w') as my_file:
    my_file.write(my_func)

In [7]:
import zoo

zoo.hours()

Open 9-5 daily

In [11]:
#11.2

import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [17]:
#16.8

#requires 16.4

import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''
cursor.execute(create_table_query)

connection.commit()
connection.close()

#begin 16.8
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db', echo=True)

metadata = MetaData()

metadata.reflect(bind=engine)

books_table = metadata.tables['books']

select_statement = select([books_table.c.title]).order_by(books_table.c.title)

with engine.connect() as connection:
    result = connection.execute(select_statement)
    
    titles = result.fetchall()
    for title in titles:
        print(title[0])

2023-11-20 15:34:13,908 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-11-20 15:34:13,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,910 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2023-11-20 15:34:13,911 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,912 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-20 15:34:13,913 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-20 15:34:13,915 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2023-11-20 15:34:13,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,916 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2023-11-20 15:34:13,917 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,918 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-20 15:34:13,918 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-20 15:34:13,920 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-20 15:34:13,921 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,922 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-20 15:34:13,922 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,923 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-20 15:34:13,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,924 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-20 15:34:13,924 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-20 15:34:13,926 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-20 15:34:13,926 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-20 15:34:13,931 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2023-11-20 15:34:13,931 INFO sqlalchemy.engine.Engine [generated in 0.00064s] ()